<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DateTimeConverter.DateTimeService">        
        <endpoint address="http://localhost:8000/DateTimeService"
                  binding="wsHttpBinding"
                  contract="DateTimeConverter.IDateTimeService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/DateTimeService"/>
          </baseAddresses>
        </host>
      </service>      
    </services>       
  </system.serviceModel>
</configuration>