html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Corbel,sans-serif;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#main-container{
    position:relative;
    top:10px;
    left:5px;
    background-color:#1E3741;
    width:38.5em;
    height:20.5em;
    border-radius:5px;
}

nav{
    width: 65.5em;   
    font-size: 16px;    
    font:Bold 0.65em Verdana, Tahoma, Geneva, sans-serif;
    height:50px;
}
#segments {
    height: auto;
    padding: 0px 0px;
    margin: 0px;

}

#segments li {
display: inline;
padding:0px;
margin:-1px;

}
#segments #current{
    background-color:#1E3741;
    color:white;
}
#segments a {
    position:relative;
    top:20px;
    left:1px;
    text-decoration: none;
    color: #00F;
    padding: 8px 13px 8px 13px;   
    text-align: center;
    color: #98B1B9;   
    background-color: #4B5F67;
       
}
nav #segments a:hover, section ul li a:hover{
    text-decoration: underline;
}


section ul li{ 
    
    width:230px; 
    border-bottom:1px solid  #4B5F67;     
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

section ul li a{       
    display:inline-block;
    position:relative;
    background-color:#1E3741;
    color:#A6BBB8;
    text-decoration:none;
    font:Bold 0.70em Verdana, Tahoma, Geneva, sans-serif;
    padding: 8px 24px 10px 5px; 
    line-height:115%;
}
section ul li:last-child{
     border-bottom:0px solid  #4B5F67;     
}

iframe {
    position:absolute;
    top:50px;
    left:235px;
    width: 360px;
    height: 270px;  
}

section ul #current-clip{
    background-color:#00968C;
    color:white;
}

