<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IStringsTestService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/StringsTestService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStringsTestService"
                contract="IStringsTestService" name="WSHttpBinding_IStringsTestService">
                <identity>
                    <userPrincipalName value="DESKTOP-HQVBSUF\Emil" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>