<h3>Add post</h3>
<div class="row">
    <div class="col-lg-2">
        <div class="form-group">
            <label for="tb-post-title" class="">Title:</label>
            <input id="tb-post-title" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <div class="form-group">
            <label for="tb-post-body" class="">Content:</label>
            <input id="tb-post-body" type="password" class="form-control">
        </div>
    </div>
</div>
<button class="btn btn-primary btn-default" id="btn-add-post">Add post</button>
