<h1>Register user</h1>
<div class="row">
    <div class="col-lg-2">
        <div class="form-group">
            <label for="tb-register-username" class="">Username:</label>
            <input id="tb-register-username" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <div class="form-group">
            <label for="tb-register-password1" class="">Password:</label>
            <input id="tb-register-password1" type="password" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <div class="form-group">
            <label for="tb-register-password2" class="">Confirm password:</label>
            <input id="tb-register-password2" type="password" class="form-control">
        </div>
    </div>
</div>
<button class="btn btn-primary btn-default" id="btn-register">Register</button>



