extends ../shared/layout
block main-content
   h1.text-center.jumbotron Tablets
   div
      img(src="pictures/TabletPic1.png" style="float: right")
      div(styles="float: left")
         h3(styles="float: left") Apple iPad Air 2
         span(styles="float: left; display: inline-block;clear:both") Thinner, lighter, mightier - looks like Apple's done it again<br>Read more at http://www.stuff.tv/top-10/tablets#KAmv2EEQP8IH3YDf.99
   div(style="clear:both")
   hr
   div
      img(src="pictures/TabletPic2.png" style="float: right")
      div(styles="float: left")
         h3(styles="float: left") Apple iPad Mini 4
         span(styles="float: left; display: inline-block;clear:both") The mini 4 is the best small tablet you can buy right now. 'Nuff said.<br> Read more at http://www.stuff.tv/top-10/tablets#KAmv2EEQP8IH3YDf.99
   div(style="clear:both")
   hr
   div
      img(src="pictures/TabletPic3.png" style="float: right")
      div(styles="float: left")
         h3(styles="float: left") Samsung Galaxy Tab S2 8.0
         span(styles="float: left; display: inline-block;clear:both") Turns out the future of laptops looks a lot like an Android hybrid tablet<br>Read more at http://www.stuff.tv/top-10/tablets#KAmv2EEQP8IH3YDf.99
   div(style="clear:both")
   hr
