<h1>Login/Register Form</h1>
<input placeholder="Username" type="text" class="form-control" id="tb-user" value="emo"/>
<input placeholder="Password" type="text" class="form-control" id="tb-pass" value="1"/>
<div class="row">
<button id="btn-login" class="btn-default col-sm-2">Log</button>
<button id="btn-register" class="btn-danger col-sm-2">Register</button>
</div>