html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#house-icon{
    position:absolute;
    top:10px;
}
#home-text{
    position:relative;
    top:10px;
    left:22px;
    font:Bold 12px Courier New, Arial Narrow, Georgia, Verdana, Arial, sans-serif;
}

#container{
    position:relative;
    background:#F1F1F1;
    border:1px solid Black;
    width:49.5em;
    height:36em;
    left:5px;
    top:5px;
}

.captions{ 
    list-style:none;
    font:11px  Courier New,  Arial Narrow, Georgia, Arial,sans-serif ;
    line-height:0px;
    display:inline;    
    color:#8D0402;
    font-weight:bold;
    left:10px;
}
ul.vert-one{margin:0;padding:0px;list-style-type:none;display:block;
    font:11px Courier New, Arial Narrow, Georgia, Verdana, Arial, sans-serif;
    line-height:120%;
    width:200px;
    position:absolute;
    left:5px;
}


ul.vert-one li{margin:0;padding:0;
               
}

ul.vert-one li a{display:block;text-decoration:none;color:black;
padding:0 0 0 0px;width:180px;}

#first-cap{
    position:absolute;
    top:52px;
    left:5px;
}
#second-cap{
    position:absolute;
    top:230px;
    left:5px;
}
#third-cap{
    position:absolute;
    top:385px;
    left:5px;
}

#fourth-cap{
    position:absolute;
    top:425px;
    left:5px;
}
#fifth-cap{
    position:absolute;
    top:545px;
    left:5px;
}

#first-list{
    position:absolute;
    top:55px;
    display:block;
}
#second-list{
    position:absolute;
    top:235px;
    display:block;
}

#third-list{
    position:absolute;
    top:390px;
    display:block;
}

#fourth-list{
    Position:absolute;
    top:430px;
    display:block;
}
#fifth-list{
    Position:absolute;
    top:550px;
    display:block;
}

#small-container{
    position:relative;
    left:140px;
    top:-16px;
    width:500px;
    height:540px;
    background:white;
    border:1px solid #A2A2A2; 
}
h1{
    position:relative;
    top:16px;
    left:8px;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
}

#previous-button-top{
    top:25px;
    left:5px;
}

#next-button-top {
      top:25px;
    left:6px;
}

.previous-button{
    background:url(leftarrow.png) no-repeat;
    background-position:0px center;
    cursor:pointer;    
    border:1px solid black;
    position:relative;    
    width:100px;
    height:20px;
    font-size:11px;
}

.next-button{
    background:url(rightarrow.png) no-repeat;
    background-position: 88px center;    
    border:1px solid black;
    position:relative;  
    width:100px;
    height:20px;
    font-size:11px;
}

.line{
    color:#909090;
    background-color:#909090;
    position:relative;    
    height:1px;
    width:98%;
}

#header-line
{
    top:25px;
}

.header-of-section{
    width:98%;
    height:15px;
    background-color:#808080;
    margin-left:0px;
}
section{   
    
    color:black;
    font-size:14px; 
    display:block;   
}
div.section-div{
    top:23px;
    left:5px;    
    position:relative;
}
h2{
    position:relative;
    left:2px;
    color:white;
    font-weight:bold;
}
.text-tutorial{
   float:right;
   width:330px;
   margin-right:5px;
   margin-top:10px;
   font-weight:bold;
   font:bold 11px Verdana
}
#toprow-texttutorial{
    position:relative;
    top:0px;
}
#main-content-texttutorial{
    position:relative;
    top:7px;
}
#csspic{
    position:absolute;
    top:20px;
}
.link{
    font:11px Verdana;
    color:#A53B39;
}
.text-tutorial a{
    position:relative;
    top:20px
}

#first-div{
    height:140px;   
}
#second-div, #third-div,#fourth-div{
    position:relative;
    height:90px;
    font: 11px Verdana;
    
}
#second-div p,#third-div p,#fourth-div p{
    position:relative;
    top:6px;
}
#second-div a,#third-div a,#fourth-div a{
    position:relative;
    top:20px;
}

.bottom-line2{
    top:-4px;
}
#footer{
    position:relative;
    top:-5px;
}

#fourth-div #quiz-link{
    top:15px;
}
#previous-button-footer{
    top:-2px;
    left:5px;
}

#next-button-footer {
    top:-2px;
    left:6px;
}

/*ASIDE*/
aside{
    position:relative;
    left:642px;
    bottom:558px;
    height:558px;
    width:147px;    
}

.small-containers{
    background:white;
    border:1px solid #A2A2A2; 
    left:1px;
    text-align:center;
    line-height:90%;
    width:99%;
}
#search{
    position:relative;    
    height:73px;    
}

.aside-header{    
    height:15px;
    background-color:#808080;
    margin-left:0px;
    width:100%;
}
.aside-header h2{
    text-align:center;
    font:bold 14px  Courier New,  Arial Narrow, Georgia, Arial,sans-serif ;
}
#search-input{
    position:relative;
    width:90px;
    height:12px;    
    top:5px;
}

#search-button{
    position:relative;
    width:20px;
    height:17px;   
    top:3px;
    line-height:10%;
    padding:0;    
}

#search-link{
    position:relative;   
    top:6px; 
}

#dynamic-button-div{
    position:relative;    
    height:65px;
    top:1px;   
}
#dynamic-button {
    background: white;
    border: 1px solid #3F81B2;
    position: relative;
    top: 2px;
    color: #5ED4FE;
    width: 100px;
    height: 30px;
    box-shadow: inset 0 0 0px 1px 11px white;
    background: rgb(75,159,255); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(75,159,255,1) 0%, rgba(153,219,255,1) 0%, rgba(170,226,255,1) 5%, rgba(214,240,255,1) 20%, rgba(214,240,255,1) 31%, rgba(214,240,255,1) 72%, rgba(214,240,255,1) 86%, rgba(171,219,255,1) 95%, rgba(153,219,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(75,159,255,1)), color-stop(0%,rgba(153,219,255,1)), color-stop(5%,rgba(170,226,255,1)), color-stop(20%,rgba(214,240,255,1)), color-stop(31%,rgba(214,240,255,1)), color-stop(72%,rgba(214,240,255,1)), color-stop(86%,rgba(214,240,255,1)), color-stop(95%,rgba(171,219,255,1)), color-stop(100%,rgba(153,219,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(75,159,255,1) 0%,rgba(153,219,255,1) 0%,rgba(170,226,255,1) 5%,rgba(214,240,255,1) 20%,rgba(214,240,255,1) 31%,rgba(214,240,255,1) 72%,rgba(214,240,255,1) 86%,rgba(171,219,255,1) 95%,rgba(153,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(75,159,255,1) 0%,rgba(153,219,255,1) 0%,rgba(170,226,255,1) 5%,rgba(214,240,255,1) 20%,rgba(214,240,255,1) 31%,rgba(214,240,255,1) 72%,rgba(214,240,255,1) 86%,rgba(171,219,255,1) 95%,rgba(153,219,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(75,159,255,1) 0%,rgba(153,219,255,1) 0%,rgba(170,226,255,1) 5%,rgba(214,240,255,1) 20%,rgba(214,240,255,1) 31%,rgba(214,240,255,1) 72%,rgba(214,240,255,1) 86%,rgba(171,219,255,1) 95%,rgba(153,219,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(75,159,255,1) 0%,rgba(153,219,255,1) 0%,rgba(170,226,255,1) 5%,rgba(214,240,255,1) 20%,rgba(214,240,255,1) 31%,rgba(214,240,255,1) 72%,rgba(214,240,255,1) 86%,rgba(171,219,255,1) 95%,rgba(153,219,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b9fff', endColorstr='#99dbff',GradientType=1 ); /* IE6-9 */
}

#dynamic-link{
    position:relative;
    top:2px;

}
#domain-div{
    position:relative;    
    height:65px;
    top:2px;  
    box-sizing: border-box;
    width:101%;    
}
#domain-link{
    position:relative; 
    top:-2px;       
}
#inner-par{    
    padding-left:20px;
    padding-right:20px;
}

#hosting-div{
    position:relative;    
    height:55px;
    top:3px;     
    width:99%;    
}
#buy-div{
    position:relative;    
    height:35px;
    top:4px;     
    width:99%;    
}
#cheap-div{
    position:relative;    
    height:35px;
    top:5px;      
    width:99%;    
}
#best-div{
    position:relative;    
    height:25px;
    top:6px;      
    width:99%;    
}

#registration-div{
    position:relative;    
    height:35px;
    top:7px;     
    width:99%;    
}
#php-div{
    position:relative;    
    height:21px;
    top:8px;     
    width:99%;     
}
#php-link,#top-link,#best-link,#prov-link{
    position:relative; 
    top:2px;       
}
#top-div{
    position:relative;    
    height:21px;
    top:9px;
    width:99%;     
}
#prov-div{
    position:relative;    
    height:21px;
    top:10px;
    width:99%;     
}
#company-div{
    position:relative;    
    height:21px;
    top:11px;
    width:99%;     
}
#reviews-div{
    position:relative;    
    height:21px;
    top:12px;
    width:99%;     
}
#web-div{
    position:relative;    
    height:21px;
    top:13px;
    width:99%;     
}


