extends ../shared/layout
block main-content
   h1.text-center.jumbotron Wearables
   div
      img(src="pictures/WearablePic1.png" style="float: right")
      div(styles="float: left")
         h3(styles="float: left") Apple Watch
         span(styles="float: left; display: inline-block;clear:both") The Apple Watch isn't the first smartwatch, but it is the best<br>Read more at http://www.stuff.tv/top-10/smartwatches#QFDPdYOIH2mrr1uH.99
   div(style="clear:both")
   hr
   div
      img(src="pictures/WearablePic2.png" style="float: right")
      div(styles="float: left")
         h3(styles="float: left") Pebble Time Steel
         span(styles="float: left; display: inline-block;clear:both") A long-lasting smartwatch that's blissfully easy-to-live with<br>Read more at http://www.stuff.tv/top-10/smartwatches#QFDPdYOIH2mrr1uH.99
   div(style="clear:both")
   hr
   div
      img(src="pictures/WearablePic3.png" style="float: right")
      div(styles="float: left")
         h3(styles="float: left") LG G Watch Urbane
         span(styles="float: left; display: inline-block;clear:both") The best Android wear smartwatch we've worn... so far<br>Read more at http://www.stuff.tv/top-10/smartwatches#QFDPdYOIH2mrr1uH.99
   div(style="clear:both")
   hr

