extends ../shared/layout
block main-content
   h1.text-center.jumbotron Smartphones
   div
      img(src="pictures/SmartphonePic1.png" style="float: right")
      div(styles="float: left")
         h3(styles="float: left") Samsung Galaxy S6
         span(styles="float: left; display: inline-block;clear:both") If the Galaxy S5 was a mis-step, the Galaxy S6 is Samsung back on scintillating form - this is the new king of the smartphones<br>Read more at http://www.stuff.tv/top-10/smartphones#Rzieavfj5yc2XslA.99
   div(style="clear:both")
   hr
   div
      img(src="pictures/SmartphonePic2.png" style="float: right;clear:both")
      div(styles="float: left")
         h3(styles="float: left") Samsung Galaxy S6 Edge+
         span(styles="float: left; display: inline-block") The standard Galaxy S6 is quite comfortably the best phone for most people, but if you've got a bit more money to spend this fabulous phablet is really quite special<br>Read more at http://www.stuff.tv/top-10/smartphones#Rzieavfj5yc2XslA.99
   div(style="clear:both")
   hr
   div
      img(src="pictures/SmartphonePic3.png" style="float: right;clear:both")
      div(styles="float: left")
         h3(styles="float: left") LG G4
         span(styles="float: left; display: inline-block") This leather-clad flagship is a great device, but it's outdone by Samsung's mighty Galaxy S6 and S6 Edge<br>Read more at http://www.stuff.tv/top-10/smartphones#Rzieavfj5yc2XslA.99
   div(style="clear:both")
   hr