@model List<TwitterSystem.Api.Models.Messages.MessageViewModel>
<br />
<div>
@using (Html.BeginForm("SearchTag", "Messages"))
{
    <input type="text" name="query" />
    <input type="submit" />
}

</div>

@foreach (var message in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@message.Title<span class="pull-right">@message.CreatedOn</span></h3>
        </div>
        <div class="panel-body">
            @message.Content
        </div>
    </div>
}

